{"openapi": "3.1.0", "info": {"title": "Embedded 2024-03", "version": "4.0"}, "servers": [{"url": "https://embedded.runalloy.com/2024-03/"}], "components": {"securitySchemes": {"api_key": {"type": "apiKey", "name": "Authorization", "in": "header"}}}, "security": [{"api_key": []}], "paths": {"/users/{userId}": {"put": {"summary": "Update a user", "description": "Updates a user given a specified userId. This endpoint allows you to update a username or fullName and returns the updated user object.", "operationId": "update-a-user", "parameters": [{"name": "userId", "in": "path", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field.", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"username": {"type": "string", "description": "The unique identifier of the user"}, "fullName": {"type": "string", "description": "The name of the user"}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"userId\": \"6323d7c9122ae69742a5d0a2\",\n    \"fullName\": \"Gregg Mojica\",\n    \"username\": \"greggmojica\"\n}"}}, "schema": {"type": "object", "properties": {"userId": {"type": "string", "example": "6323d7c9122ae69742a5d0a2"}, "fullName": {"type": "string", "example": "Gregg Mojica"}, "username": {"type": "string", "example": "greggmojica"}}}}}}, "401": {"description": "401", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"message\":\"Unauthorized\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "Unauthorized"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}, "get": {"summary": "Retrieve a single user", "description": "Returns a specific user given a userId and any active workflows associated with the user.", "operationId": "get-a-user", "parameters": [{"name": "userId", "in": "path", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field.", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"userId\": \"6323d7c9122ae69742a5d0a2\",\n    \"fullName\": \"Gregg Mojica\",\n    \"username\": \"support@runalloy.com\",\n}"}}}}}}, "deprecated": false, "security": [{"api_key": []}]}, "delete": {"summary": "Delete a user", "description": "This endpoint deletes a user account. It is most commonly used when a user stops being a customer of your platform or in conjunction with a GDPR compliance request. Note that this endpoint only deletes the user's account – not any corresponding workflow logs or other data. To remove that data as part of a compliance request, see our 'Delete User Logs' endpoint", "operationId": "delete-a-user", "parameters": [{"name": "userId", "in": "path", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field.", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{ \n    \"success\": true \n}"}}, "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "default": true}}}}}}, "401": {"description": "401", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"message\":\"Unauthorized\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "Unauthorized"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users/": {"post": {"summary": "Create a user", "description": "Creates a new user in your Embedded account. The user record acts like a \"container\" to store all the integrations, workflows, and credentials for any given user. Returns a user identifier.", "operationId": "create-a-user", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["username"], "properties": {"fullName": {"type": "string", "description": "The name of the user you want to create. Typically a full name."}, "username": {"type": "string", "description": "The username to be associated with the user.  To easily identify a customer, we recommend using a friendly username such as an email for example. The username must be unique (this acts as an identifier to reference and lookup a given merchant on your platform)."}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"userId\": \"xyz123abc098754\"\n}"}}, "schema": {"type": "object", "properties": {"userId": {"type": "string", "example": "xyz123abc098754"}}}}}}, "401": {"description": "401", "content": {"application/json": {"examples": {"Result": {"value": "{}"}}, "schema": {"type": "object", "properties": {}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users": {"get": {"summary": "Retrieve a list of all users", "description": "Returns a list of all users created in your Embedded account.", "operationId": "list-all-users", "parameters": [{"name": "parentWorkflowId", "in": "query", "description": "You can pass a parentWorkflowId if you wish to list users for a specific workflow.", "schema": {"type": "string"}}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"data\": [\n        {\n            \"userId\": \"6323d7c9122ae69742a5d0a2\",\n            \"username\": \"gregg\",\n            \"fullName\": \"Gregg Mojica\"\n        },\n        {\n            \"userId\": \"6323d7cf9ae88f59bf66ce63\",\n            \"username\": \"sara\",\n            \"fullName\": \"Sara Du\"\n        },\n        {\n            \"userId\": \"6323d7e159479ba26d80fcc8\",\n            \"fullName\": \"William Jackson\"\n        },\n        {\n            \"userId\": \"6323d7f090020baf1091b151\",\n            \"username\": \"izzy@gmail.com\",\n            \"fullName\": \"Izzy Jackson\"\n        },\n         {\n            \"userId\": \"6323d7da4b764bfe02cacaef\",\n            \"username\": \"jose@example.com\",\n            \"fullName\": \"Jose Santos\"\n        }\n    ]\n}"}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"type": "object", "properties": {"userId": {"type": "string", "example": "6323d7c9122ae69742a5d0a2"}, "username": {"type": "string", "example": "gregg"}, "fullName": {"type": "string", "example": "Gregg Mojica"}}}}}}}}}, "401": {"description": "401", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"message\":\"Unauthorized\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "Unauthorized"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/headless/credentials": {"post": {"summary": "Create Credential", "description": "Use this endpoint to add a credential programmatically via the API. This endpoint should be used primarily for non-OAuth blocks. If you are using Secrets Manager with an OAuth block and you have the OAuth tokens already, you can add them to Alloy with this endpoint. Please reference [this](https://docs.runalloy.com/docs/headless) section of our docs for a complete tutorial on when and how to use this endpoint.", "operationId": "create-a-credential", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["credential", "userId"], "properties": {"credential": {"type": "string", "description": "The data for the credential you want to create.", "format": "json"}, "userId": {"type": "string", "description": "The id of the currently logged in user"}}}, "examples": {"Request Example": {"value": {"credential": {"type": "netsuite", "data": {"realm": "XXX", "consumerKey": "XXX", "tokenId": "XXX", "tokenSecret": "XXX"}}}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"success\": true,\n    \"credentialId\": \"63252d14cc29df15cc481a76\"\n}"}}, "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "default": true}, "credentialId": {"type": "string", "example": "63252d14cc29df15cc481a76"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/metadata/credentials": {"get": {"summary": "Retrieve all credential structures", "description": "This endpoint returns a basic structure of what data must be inputted when adding a credential manually. This should be used when creating a credential using the POST credential endpoint.\n\nThis endpoint returns the structure of every supported block on Alloy Embedded. It returns a boolean flag called `isOauth` which indicates if the credential uses OAuth or an API key.", "operationId": "get-credential-metadata", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n\t\"data\": [{\n\t\t\t\"name\": \"acuityScheduling\",\n\t\t\t\"icon\": \"acuityScheduling.png\",\n\t\t\t\"isOauth\": false,\n\t\t\t\"properties\": [{\n\t\t\t\t\t\"name\": \"apiKey\",\n\t\t\t\t\t\"displayName\": \"API Key\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"userId\",\n\t\t\t\t\t\"displayName\": \"User Id\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"netsuite\",\n\t\t\t\"icon\": \"netsuite.png\",\n\t\t\t\"isOauth\": false,\n\t\t\t\"properties\": [{\n\t\t\t\t\t\"name\": \"realm\",\n\t\t\t\t\t\"displayName\": \"Realm\",\n\t\t\t\t\t\"description\": \"Your NetSuite realm\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"consumerKey\",\n\t\t\t\t\t\"displayName\": \"Consumer Key\",\n\t\t\t\t\t\"description\": \"Your NetSuite consumer key\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"consumerSecret\",\n\t\t\t\t\t\"displayName\": \"Consumer Secret\",\n\t\t\t\t\t\"description\": \"Your NetSuite consumer secret key\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"tokenId\",\n\t\t\t\t\t\"displayName\": \"Token Id\",\n\t\t\t\t\t\"description\": \"Your NetSuite token Id\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"tokenSecret\",\n\t\t\t\t\t\"displayName\": \"Token Secret\",\n\t\t\t\t\t\"description\": \"Your NetSuite token secret\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"shopify\",\n\t\t\t\"icon\": \"shopify.png\",\n\t\t\t\"isOauth\": true,\n\t\t\t\"properties\": [{\n\t\t\t\t\"name\": \"shopSubdomain\",\n\t\t\t\t\"displayName\": \"Shop Subdomain\",\n\t\t\t\t\"description\": \"Enter your store subdomain. If your store domain is example.myshopify.com, the subdomain would be example.\"\n\t\t\t}]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"snowflake\",\n\t\t\t\"icon\": \"snowflake.png\",\n\t\t\t\"isOauth\": false,\n\t\t\t\"properties\": [{\n\t\t\t\t\t\"name\": \"accountName\",\n\t\t\t\t\t\"displayName\": \"Account Name\",\n\t\t\t\t\t\"description\": \"The account name for your Snowflake instance\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"database\",\n\t\t\t\t\t\"displayName\": \"Database\",\n\t\t\t\t\t\"description\": \"The database type you want to use\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"warehouse\",\n\t\t\t\t\t\"displayName\": \"Data Warehouse\",\n\t\t\t\t\t\"description\": \"The data warehouse to connect to\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"username\",\n\t\t\t\t\t\"displayName\": \"Username\",\n\t\t\t\t\t\"description\": \"The username to connect to\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"password\",\n\t\t\t\t\t\"displayName\": \"Password\",\n\t\t\t\t\t\"description\": \"The password\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"schema\",\n\t\t\t\t\t\"displayName\": \"Schema\",\n\t\t\t\t\t\"description\": \"The schema\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"role\",\n\t\t\t\t\t\"displayName\": \"Role\",\n\t\t\t\t\t\"description\": \"The role\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"name\": \"wooCommerce\",\n\t\t\t\"icon\": \"woocommerce.png\",\n\t\t\t\"isOauth\": false,\n\t\t\t\"properties\": [{\n\t\t\t\t\t\"name\": \"consumerKey\",\n\t\t\t\t\t\"displayName\": \"Consumer Key\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"consumerSecret\",\n\t\t\t\t\t\"displayName\": \"Consumer Secret\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"name\": \"url\",\n\t\t\t\t\t\"displayName\": \"WooCommerce URL\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t\t\n\t]\n}"}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "acuityScheduling"}, "icon": {"type": "string", "example": "acuityScheduling.png"}, "isOauth": {"type": "boolean", "example": false, "default": true}, "properties": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "apiKey"}, "displayName": {"type": "string", "example": "API Key"}}}}}}}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users/{userId}/token": {"get": {"summary": "Generate a new JWT for a user", "description": "This endpoint is used to generate a new user token in the form of a JSON Web Token (JWT) which is required to securely render the Embedded Modal in your application. Once retrieved, you'll want to pass this token to your frontend.", "operationId": "generate-jwt-token", "parameters": [{"name": "userId", "in": "path", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field.", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"token\": \"XXXXXXXXXXXXXX.YYYYYYYYYYYYYY.ZZZZZZZZZZZZZZ\"\n}"}}, "schema": {"type": "object", "properties": {"token": {"type": "string", "example": "XXXXXXXXXXXXXX.YYYYYYYYYYYYYY.ZZZZZZZZZZZZZZ"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users/{userId}/credentials": {"get": {"summary": "Retrieve all credentials for a user", "description": "Returns a list of all credentials created for a specified user.", "operationId": "list-user-credentials", "parameters": [{"name": "userId", "in": "path", "description": "The id of the currently logged in user", "required": true, "schema": {"type": "string"}}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"data\": [\n        {\n            \"credentialId\": \"63253068590a5f1d6cc9b635\",\n            \"type\": \"shopify\",\n            \"createdAt\": \"2022-09-17T02:12:25.619Z\",\n            \"updatedAt\": \"2022-09-17T02:12:25.620Z\"\n        }\n    ]\n}"}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"type": "object", "properties": {"credentialId": {"type": "string", "example": "63253068590a5f1d6cc9b635"}, "type": {"type": "string", "example": "shopify"}, "createdAt": {"type": "string", "example": "2022-09-17T02:12:25.619Z"}, "updatedAt": {"type": "string", "example": "2022-09-17T02:12:25.620Z"}}}}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/workflows/": {"get": {"summary": "Retrieve a list of workflows", "description": "Returns a list of all active **parent** workflows associated with your Alloy Embedded account. Note this endpoint does _not_ return a list of workflows that the user has installed, but rather a list of all _available_ workflows. The `installed` flag indicates if the user has installed a copy of the workflow but does not  indicate if the user has a given workflow \"active\".\n\nFor each workflow, this endpoint returns the individual apps that are required as part of the workflow. Commonly used to populate data on an integrations page.", "operationId": "list-workflows", "parameters": [{"name": "integration", "in": "query", "description": "This parameter allows you to filter workflows based on the name of the integration you're looking for. For example, if you were looking for a Shopify integration, specify shopify", "schema": {"type": "string"}}, {"name": "userId", "in": "query", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field.", "required": true, "schema": {"type": "string"}}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"data\": [\n        {\n            \"workflowId\": \"61af97f3a64b5900144610d8\",\n          \t\"integrationId\": \"632ca935bb5c785d64d095b5\",\n            \"name\": \"New Customer Created\",\n            \"createdAt\": \"2021-12-07T17:20:51.889Z\",\n            \"updatedAt\": \"2021-12-07T17:36:32.454Z\",\n            \"installed\": true,\n            \"active\": true,\n            \"version\": 2,\n            \"installedVersion\": 1,\n            \"blocks\": [\n                {\n                    \"name\": \"Custom Event\",\n                    \"id\": \"acd92ef8-303a-4c31-b323-c55fb2d7a41f\",\n                    \"type\": \"customEvent\",\n                    \"icon\": \"https://cdn.runalloy.com/icons/app-event.svg\"\n                },\n                {\n                    \"name\": \"Slack\",\n                    \"id\": \"ff827207-a709-4689-a9e4-2e202af3a333\",\n                    \"type\": \"slack\",\n                    \"icon\": \"https://cdn.runalloy.com/icons/slack.png\"\n                }\n            ]\n        },\n        {\n            \"workflowId\": \"63251f12d14f9e9822a4a747\",\n            \"integrationId\": \"632ca945126125e12f585468\",\n            \"name\": \"Add Subscribers to Klaviyo List\",\n            \"createdAt\": \"2021-12-07T17:39:03.028Z\",\n            \"updatedAt\": \"2021-12-07T17:44:15.812Z\",\n            \"installed\": true,\n            \"active\": true,\n            \"version\": 1,\n            \"installedVersion\": 1,\n            \"blocks\": [\n                {\n                    \"name\": \"Custom Event\",\n                    \"id\": \"50db3942-7c60-4cd5-89a3-68096e47aa6f\",\n                    \"type\": \"customEvent\",\n                    \"icon\": \"https://cdn.runalloy.com/icons/app-event.svg\"\n                },\n                {\n                    \"name\": \"Klaviyo\",\n                    \"id\": \"aecb35be-819e-4e8f-83cb-be57592333b4\",\n                    \"type\": \"klaviyo\",\n                    \"icon\": \"https://cdn.runalloy.com/icons/klaviyo.png\"\n                }\n            ]\n        },\n        {\n            \"workflowId\": \"63251f16d309d2b7cbe7f3b4\",\n            \"integrationId\": \"632ca94d460d08e72db9e2a3\",\n            \"name\": \"List Shopify Customers\",\n            \"createdAt\": \"2021-12-07T17:22:48.580Z\",\n            \"updatedAt\": \"2021-12-07T17:37:00.103Z\",\n            \"version\": 1,\n            \"active\": false,\n            \"blocks\": [\n                {\n                    \"name\": \"Shopify Trigger\",\n                    \"id\": \"8f58e15e-b53e-43c2-9f7f-131cb991908b\",\n                    \"type\": \"shopifyTrigger\",\n                    \"icon\": \"https://cdn.runalloy.com/icons/shopify.png\"\n                },\n                {\n                    \"name\": \"Custom API Call\",\n                    \"id\": \"7ee665e5-7b8b-491f-94d7-f3b6233d9730\",\n                    \"type\": \"httpRequest\",\n                    \"icon\": \"https://cdn.runalloy.com/icons/httpRequest.png\"\n                }\n            ]\n        } \n    ]\n}"}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"type": "object", "properties": {"workflowId": {"type": "string", "example": "61af97f3a64b5900144610d8"}, "integrationId": {"type": "string", "example": "632ca935bb5c785d64d095b5"}, "name": {"type": "string", "example": "New Customer Created"}, "createdAt": {"type": "string", "example": "2021-12-07T17:20:51.889Z"}, "updatedAt": {"type": "string", "example": "2021-12-07T17:36:32.454Z"}, "installed": {"type": "boolean", "example": true, "default": true}, "active": {"type": "boolean", "example": true, "default": true}, "version": {"type": "integer", "example": 2, "default": 0}, "installedVersion": {"type": "integer", "example": 1, "default": 0}, "blocks": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "Custom Event"}, "id": {"type": "string", "example": "acd92ef8-303a-4c31-b323-c55fb2d7a41f"}, "type": {"type": "string", "example": "customEvent"}, "icon": {"type": "string", "example": "https://cdn.runalloy.com/icons/app-event.svg"}}}}}}}}}}}}, "400": {"description": "400", "content": {"application/json": {"examples": {"Result": {"value": "{}"}}, "schema": {"type": "object", "properties": {}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/workflows/deactivate": {"put": {"summary": "Deactivate a workflow", "description": "Disables all future invocations and runs for a given workflow. \n\nBy deactivating a workflow, this endpoint will turn off any events or webhooks a workflow is subscribed to. May be reactivated by the Reactivate workflow endpoint.", "operationId": "deactivate-a-workflow", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["userId"], "properties": {"userId": {"type": "string", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field."}, "workflowId": {"type": "string", "description": "The Id of the workflow to activate. If you pass this parameter, then `workflowName` is not required."}, "workflowName": {"type": "string", "description": "The name of the workflow to activate.  If you pass this parameter, then `workflowId` is not required."}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"activated\": false\n}"}}, "schema": {"type": "object", "properties": {"activated": {"type": "boolean", "example": false, "default": true}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/workflows/activate": {"put": {"summary": "Activate a workflow", "description": "Reactivates a workflow that was previously disabled by the Disable Workflow endpoint. This endpoint requires a specified WorkflowId and returns a success/failure.", "operationId": "activate-a-workflow", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["userId"], "properties": {"userId": {"type": "string", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field."}, "workflowName": {"type": "string", "description": "The name of the workflow to activate.  If you pass this parameter, then `workflowId` is not required."}, "workflowId": {"type": "string", "description": "The Id of the workflow to activate. If you pass this parameter, then `workflowName` is not required."}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"activated\": true\n}"}}, "schema": {"type": "object", "properties": {"activated": {"type": "boolean", "example": true, "default": true}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/workflows/{workflowId}/analytics": {"get": {"summary": "Retrieve usage metrics for a workflow", "description": "This endpoint returns the `totalAppActions` (the number of times each block inside the workflow has been executed over the course of the workflow's lifetime), the `totalWorkflowRuns` (which represents the number of times the workflow has been invoked) and the `totalErrors` (the number of times the workflow has had an error).", "operationId": "get-workflow-analytics", "parameters": [{"name": "workflowId", "in": "path", "description": "The Id of the workflow you want to find errors for", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"totalAppActions\": 14,\n    \"totalWorkflowRuns\": 14,\n    \"totalErrors\": 0\n}"}}, "schema": {"type": "object", "properties": {"totalAppActions": {"type": "integer", "example": 14, "default": 0}, "totalWorkflowRuns": {"type": "integer", "example": 14, "default": 0}, "totalErrors": {"type": "integer", "example": 0, "default": 0}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users/{userId}/deactivate-workflows": {"put": {"summary": "Deactivate workflows for a user", "description": "Deactivates all active workflows for a user in bulk. \n\nThis endpoint may be used to perform a bulk operation such as temporarily disabling a user's account in lieu of deleting the user account if the user wants to \"pause\" their account.", "operationId": "disable-all-workflows-for-a-user", "parameters": [{"name": "userId", "in": "path", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"message\": \"Success\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "Success"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/workflows/{workflowId}/logs": {"get": {"summary": "Retrieve all execution logs for a workflow", "description": "Retrieves log data for a given workflow over time. Logs are stored for a maximum of 60 days before being purged.\n\nEach log includes the `executionId` (which can be used to rerun an execution), the `startedAt` and `stoppedAt` date stamps, and the JSON output of the execution.", "operationId": "get-workflow-logs", "parameters": [{"name": "workflowId", "in": "path", "description": "The Id of the workflow you want to find logs for", "schema": {"type": "string"}, "required": true}, {"name": "userId", "in": "query", "description": "The Id of the user you want delete logs for. Returned from the Create User endpoint", "schema": {"type": "string"}}, {"name": "page", "in": "query", "description": "page of results", "schema": {"type": "integer", "format": "int32"}}, {"name": "limit", "in": "query", "description": "Number of results per page (max 30, default 10)", "schema": {"type": "integer", "format": "int32"}}, {"name": "order", "in": "query", "description": "asc or desc for ascending/descending (default desc)", "schema": {"type": "string"}}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"data\":[\n    {\n      \"executionId\":\"H4uUaCEjkA8Awi4xiNk-r\",\n      \"startedAt\":\"2022-10-04T08:12:48.466Z\",\n      \"stoppedAt\":\"2022-10-04T08:12:59.680Z\",\n      \"finished\":true,\n      \"results\":[\n        {\n          \"blockId\":\"f28d6b36-db0a-4a8c-9ed1-dbe604dd1688\",\n          \"startedAt\":\"2022-10-04T08:12:48.466Z\",\n          \"stoppedAt\":\"2022-10-04T08:12:50.782Z\",\n          \"data\":[\n            [\n              {\n                \"json\":{\n                  \"body\":{\n                    \"exampleValue\":\"Order Placed\"\n                  },\n                  \"headers\":{\n                    \"host\":\"embedded.runalloy.com\",\n                    \"x-request-id\":\"962253146d67360129f99608f1f49aac\",\n                    \"x-real-ip\":\"98.118.167.70\",\n                    \"x-forwarded-for\":\"98.118.167.70\",\n                    \"x-forwarded-host\":\"embedded.runalloy.com\",\n                    \"x-forwarded-port\":\"80\",\n                    \"x-forwarded-proto\":\"http\",\n                    \"x-forwarded-scheme\":\"http\",\n                    \"x-scheme\":\"http\",\n                    \"content-length\":\"109\",\n                    \"authorization\":\"Bearer EsDAvOTRzEbGHJJ9m9wCa\",\n                    \"content-type\":\"application/json\",\n                    \"user-agent\":\"PostmanRuntime/7.28.4\",\n                    \"accept\":\"*/*\",\n                    \"cache-control\":\"no-cache\",\n                    \"postman-token\":\"ad921017-ea74-46a7-a59e-1fbea20bfddd\",\n                    \"accept-encoding\":\"gzip, deflate, br\"\n                  }\n                },\n                \"id\":\"04b1892c-d28e-444b-a639-20efbedca4c9\"\n              }\n            ]\n          ]\n        },\n        {\n          \"blockId\":\"25c39f86-c2cc-4fb9-8cbe-4f57f10e8b19\",\n          \"startedAt\":\"2022-10-04T08:12:52.307Z\",\n          \"stoppedAt\":\"2022-10-04T08:12:55.408Z\",\n          \"data\":[\n            [\n              {\n                \"json\":{\n                  \"product\":{\n                    \"id\":4463469396026,\n                    \"title\":\"Headphones\",\n                    \"vendor\":\"Ark Merch\",\n                    \"product_type\":\"Headphone & Headset Accessories\",\n                    \"tags\":\"Headphones\",\n                    \"variants\":[\n                      {\n                        \"id\":32223043715130,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Red\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":1,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Red\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-12-08T15:36:04+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":28352933199930,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741257274,\n                        \"inventory_quantity\":5,\n                        \"old_inventory_quantity\":5,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043715130\"\n                      },\n                      {\n                        \"id\":32223043747898,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Blue\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":2,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Blue\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-12-09T00:47:10+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":null,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741290042,\n                        \"inventory_quantity\":988,\n                        \"old_inventory_quantity\":988,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043747898\"\n                      },\n                      {\n                        \"id\":32223043780666,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Green\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":3,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Green\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":null,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741322810,\n                        \"inventory_quantity\":0,\n                        \"old_inventory_quantity\":0,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043780666\"\n                      },\n                      {\n                        \"id\":32223043813434,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Yellow\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":4,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Yellow\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":null,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741355578,\n                        \"inventory_quantity\":0,\n                        \"old_inventory_quantity\":0,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043813434\"\n                      }\n                    ],\n                    \"options\":[\n                      {\n                        \"id\":5828033314874,\n                        \"product_id\":4463469396026,\n                        \"name\":\"Color\",\n                        \"position\":1,\n                        \"values\":[\n                          \"Red\",\n                          \"Blue\",\n                          \"Green\",\n                          \"Yellow\"\n                        ]\n                      }\n                    ],\n                    \"images\":[\n                      {\n                        \"id\":28352933199930,\n                        \"product_id\":4463469396026,\n                        \"position\":1,\n                        \"created_at\":\"2021-12-08T15:35:56+08:00\",\n                        \"updated_at\":\"2021-12-08T15:35:56+08:00\",\n                        \"alt\":null,\n                        \"width\":572,\n                        \"height\":572,\n                        \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/MX412.jpg?v=1638948956\",\n                        \"variant_ids\":[\n                          32223043715130\n                        ],\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933199930\"\n                      },\n                      {\n                        \"id\":28352933265466,\n                        \"product_id\":4463469396026,\n                        \"position\":2,\n                        \"created_at\":\"2021-12-08T15:37:17+08:00\",\n                        \"updated_at\":\"2021-12-08T15:37:17+08:00\",\n                        \"alt\":null,\n                        \"width\":445,\n                        \"height\":445,\n                        \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/ML9C2.jpg?v=1638949037\",\n                        \"variant_ids\":[\n                          \n                        ],\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933265466\"\n                      },\n                      {\n                        \"id\":28352936607802,\n                        \"product_id\":4463469396026,\n                        \"position\":3,\n                        \"created_at\":\"2021-12-08T15:44:04+08:00\",\n                        \"updated_at\":\"2021-12-08T15:44:04+08:00\",\n                        \"alt\":null,\n                        \"width\":700,\n                        \"height\":700,\n                        \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/170753_1_1.jpg?v=1638949444\",\n                        \"variant_ids\":[\n                          \n                        ],\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352936607802\"\n                      }\n                    ]\n                  }\n                },\n                \"id\":\"959421e4-2f79-4018-ab32-9b71d60bfc5e\"\n              }\n            ]\n          ]\n        },\n        {\n          \"blockId\":\"035eb81d-acc9-4ef0-bb5b-6b8326d57191\",\n          \"startedAt\":\"2022-10-04T08:12:56.540Z\",\n          \"stoppedAt\":\"2022-10-04T08:12:58.422Z\",\n          \"data\":[\n            [\n              {\n                \"json\":{\n                  \"ts\":\"1664871178.330449\",\n                  \"channel\":\"CTY3USQ0P\",\n                  \"text\":\"{\\\"product\\\":{\\\"id\\\":4463469396026,\\\"title\\\":\\\"Headphones\\\",\\\"vendor\\\":\\\"Ark Merch\\\",\\\"product_type\\\":\\\"Headphone &amp; Headset Accessories\\\",\\\"tags\\\":\\\"Headphones\\\",\\\"variants\\\":[{\\\"id\\\":32223043715130,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Red\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":1,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Red\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:36:04+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":28352933199930,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741257274,\\\"inventory_quantity\\\":5,\\\"old_inventory_quantity\\\":5,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043715130\\\"},{\\\"id\\\":32223043747898,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Blue\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":2,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Blue\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-12-09T00:47:10+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":null,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741290042,\\\"inventory_quantity\\\":988,\\\"old_inventory_quantity\\\":988,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043747898\\\"},{\\\"id\\\":32223043780666,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Green\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":3,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Green\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":null,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741322810,\\\"inventory_quantity\\\":0,\\\"old_inventory_quantity\\\":0,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043780666\\\"},{\\\"id\\\":32223043813434,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Yellow\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":4,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Yellow\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":null,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741355578,\\\"inventory_quantity\\\":0,\\\"old_inventory_quantity\\\":0,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043813434\\\"}],\\\"options\\\":[{\\\"id\\\":5828033314874,\\\"product_id\\\":4463469396026,\\\"name\\\":\\\"Color\\\",\\\"position\\\":1,\\\"values\\\":[\\\"Red\\\",\\\"Blue\\\",\\\"Green\\\",\\\"Yellow\\\"]}],\\\"images\\\":[{\\\"id\\\":28352933199930,\\\"product_id\\\":4463469396026,\\\"position\\\":1,\\\"created_at\\\":\\\"2021-12-08T15:35:56+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:35:56+08:00\\\",\\\"alt\\\":null,\\\"width\\\":572,\\\"height\\\":572,\\\"src\\\":\\\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0264\\/6992\\/4922\\/products\\/MX412.jpg?v=1638948956\\\",\\\"variant_ids\\\":[32223043715130],\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductImage\\/28352933199930\\\"},{\\\"id\\\":28352933265466,\\\"product_id\\\":4463469396026,\\\"position\\\":2,\\\"created_at\\\":\\\"2021-12-08T15:37:17+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:37:17+08:00\\\",\\\"alt\\\":null,\\\"width\\\":445,\\\"height\\\":445,\\\"src\\\":\\\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0264\\/6992\\/4922\\/products\\/ML9C2.jpg?v=1638949037\\\",\\\"variant_ids\\\":[],\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductImage\\/28352933265466\\\"},{\\\"id\\\":28352936607802,\\\"product_id\\\":4463469396026,\\\"position\\\":3,\\\"created_at\\\":\\\"2021-12-08T15:44:04+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:44:04+08:00\\\",\\\"alt\\\":null,\\\"width\\\":700,\\\"height\\\":700,\\\"src\\\":\\\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0264\\/6992\\/4922\\/products\\/170753_1_1.jpg?v=1638949444\\\",\\\"variant_ids\\\":[],\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductImage\\/28352936607802\\\"}]}}\",\n                  \"bot_id\":\"B012PM5ULBW\"\n                },\n                \"id\":\"0c518ff8-a7c1-4388-b0f5-79abceb68d69\"\n              }\n            ]\n          ]\n        }\n      ],\n      \"inputs\":[\n        {\n          \"blockId\":\"f28d6b36-db0a-4a8c-9ed1-dbe604dd1688\",\n          \"data\":{\n            \n          }\n        },\n        {\n          \"blockId\":\"25c39f86-c2cc-4fb9-8cbe-4f57f10e8b19\",\n          \"data\":{\n            \"productId\":\"4463469396026\",\n            \"sampleDataLimit\":3\n          }\n        },\n        {\n          \"blockId\":\"035eb81d-acc9-4ef0-bb5b-6b8326d57191\",\n          \"data\":{\n            \"channel\":\"CTY3USQ0P\",\n            \"text\":{\n              \"product\":{\n                \"id\":4463469396026,\n                \"title\":\"Headphones\",\n                \"vendor\":\"Ark Merch\",\n                \"product_type\":\"Headphone & Headset Accessories\",\n                \"tags\":\"Headphones\",\n                \"variants\":[\n                  {\n                    \"id\":32223043715130,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Red\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":1,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Red\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-12-08T15:36:04+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":28352933199930,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741257274,\n                    \"inventory_quantity\":5,\n                    \"old_inventory_quantity\":5,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043715130\"\n                  },\n                  {\n                    \"id\":32223043747898,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Blue\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":2,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Blue\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-12-09T00:47:10+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":null,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741290042,\n                    \"inventory_quantity\":988,\n                    \"old_inventory_quantity\":988,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043747898\"\n                  },\n                  {\n                    \"id\":32223043780666,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Green\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":3,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Green\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":null,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741322810,\n                    \"inventory_quantity\":0,\n                    \"old_inventory_quantity\":0,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043780666\"\n                  },\n                  {\n                    \"id\":32223043813434,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Yellow\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":4,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Yellow\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":null,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741355578,\n                    \"inventory_quantity\":0,\n                    \"old_inventory_quantity\":0,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043813434\"\n                  }\n                ],\n                \"options\":[\n                  {\n                    \"id\":5828033314874,\n                    \"product_id\":4463469396026,\n                    \"name\":\"Color\",\n                    \"position\":1,\n                    \"values\":[\n                      \"Red\",\n                      \"Blue\",\n                      \"Green\",\n                      \"Yellow\"\n                    ]\n                  }\n                ],\n                \"images\":[\n                  {\n                    \"id\":28352933199930,\n                    \"product_id\":4463469396026,\n                    \"position\":1,\n                    \"created_at\":\"2021-12-08T15:35:56+08:00\",\n                    \"updated_at\":\"2021-12-08T15:35:56+08:00\",\n                    \"alt\":null,\n                    \"width\":572,\n                    \"height\":572,\n                    \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/MX412.jpg?v=1638948956\",\n                    \"variant_ids\":[\n                      32223043715130\n                    ],\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933199930\"\n                  },\n                  {\n                    \"id\":28352933265466,\n                    \"product_id\":4463469396026,\n                    \"position\":2,\n                    \"created_at\":\"2021-12-08T15:37:17+08:00\",\n                    \"updated_at\":\"2021-12-08T15:37:17+08:00\",\n                    \"alt\":null,\n                    \"width\":445,\n                    \"height\":445,\n                    \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/ML9C2.jpg?v=1638949037\",\n                    \"variant_ids\":[\n                      \n                    ],\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933265466\"\n                  },\n                  {\n                    \"id\":28352936607802,\n                    \"product_id\":4463469396026,\n                    \"position\":3,\n                    \"created_at\":\"2021-12-08T15:44:04+08:00\",\n                    \"updated_at\":\"2021-12-08T15:44:04+08:00\",\n                    \"alt\":null,\n                    \"width\":700,\n                    \"height\":700,\n                    \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/170753_1_1.jpg?v=1638949444\",\n                    \"variant_ids\":[\n                      \n                    ],\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352936607802\"\n                  }\n                ]\n              }\n            }\n          }\n        }\n      ]\n    }\n  ]\n}{\n  \"data\":[\n    {\n      \"executionId\":\"H4uUaCEjkA8Awi4xiNk-r\",\n      \"startedAt\":\"2022-10-04T08:12:48.466Z\",\n      \"stoppedAt\":\"2022-10-04T08:12:59.680Z\",\n      \"finished\":true,\n      \"results\":[\n        {\n          \"blockId\":\"f28d6b36-db0a-4a8c-9ed1-dbe604dd1688\",\n          \"startedAt\":\"2022-10-04T08:12:48.466Z\",\n          \"stoppedAt\":\"2022-10-04T08:12:50.782Z\",\n          \"data\":[\n            [\n              {\n                \"json\":{\n                  \"body\":{\n                    \"exampleValue\":\"Order Placed\"\n                  },\n                  \"headers\":{\n                    \"host\":\"embedded.runalloy.com\",\n                    \"x-request-id\":\"962253146d67360129f99608f1f49aac\",\n                    \"x-real-ip\":\"98.118.167.70\",\n                    \"x-forwarded-for\":\"98.118.167.70\",\n                    \"x-forwarded-host\":\"embedded.runalloy.com\",\n                    \"x-forwarded-port\":\"80\",\n                    \"x-forwarded-proto\":\"http\",\n                    \"x-forwarded-scheme\":\"http\",\n                    \"x-scheme\":\"http\",\n                    \"content-length\":\"109\",\n                    \"authorization\":\"Bearer EsDAvOTRzEbGHJJ9m9wCa\",\n                    \"content-type\":\"application/json\",\n                    \"user-agent\":\"PostmanRuntime/7.28.4\",\n                    \"accept\":\"*/*\",\n                    \"cache-control\":\"no-cache\",\n                    \"postman-token\":\"ad921017-ea74-46a7-a59e-1fbea20bfddd\",\n                    \"accept-encoding\":\"gzip, deflate, br\"\n                  }\n                },\n                \"id\":\"04b1892c-d28e-444b-a639-20efbedca4c9\"\n              }\n            ]\n          ]\n        },\n        {\n          \"blockId\":\"25c39f86-c2cc-4fb9-8cbe-4f57f10e8b19\",\n          \"startedAt\":\"2022-10-04T08:12:52.307Z\",\n          \"stoppedAt\":\"2022-10-04T08:12:55.408Z\",\n          \"data\":[\n            [\n              {\n                \"json\":{\n                  \"product\":{\n                    \"id\":4463469396026,\n                    \"title\":\"Headphones\",\n                    \"vendor\":\"Ark Merch\",\n                    \"product_type\":\"Headphone & Headset Accessories\",\n                    \"tags\":\"Headphones\",\n                    \"variants\":[\n                      {\n                        \"id\":32223043715130,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Red\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":1,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Red\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-12-08T15:36:04+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":28352933199930,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741257274,\n                        \"inventory_quantity\":5,\n                        \"old_inventory_quantity\":5,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043715130\"\n                      },\n                      {\n                        \"id\":32223043747898,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Blue\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":2,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Blue\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-12-09T00:47:10+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":null,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741290042,\n                        \"inventory_quantity\":988,\n                        \"old_inventory_quantity\":988,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043747898\"\n                      },\n                      {\n                        \"id\":32223043780666,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Green\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":3,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Green\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":null,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741322810,\n                        \"inventory_quantity\":0,\n                        \"old_inventory_quantity\":0,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043780666\"\n                      },\n                      {\n                        \"id\":32223043813434,\n                        \"product_id\":4463469396026,\n                        \"title\":\"Yellow\",\n                        \"price\":\"2000.00\",\n                        \"sku\":\"\",\n                        \"position\":4,\n                        \"inventory_policy\":\"deny\",\n                        \"compare_at_price\":null,\n                        \"fulfillment_service\":\"manual\",\n                        \"inventory_management\":\"shopify\",\n                        \"option1\":\"Yellow\",\n                        \"option2\":null,\n                        \"option3\":null,\n                        \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                        \"taxable\":true,\n                        \"barcode\":\"\",\n                        \"grams\":0,\n                        \"image_id\":null,\n                        \"weight\":0,\n                        \"weight_unit\":\"kg\",\n                        \"inventory_item_id\":33928741355578,\n                        \"inventory_quantity\":0,\n                        \"old_inventory_quantity\":0,\n                        \"requires_shipping\":false,\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043813434\"\n                      }\n                    ],\n                    \"options\":[\n                      {\n                        \"id\":5828033314874,\n                        \"product_id\":4463469396026,\n                        \"name\":\"Color\",\n                        \"position\":1,\n                        \"values\":[\n                          \"Red\",\n                          \"Blue\",\n                          \"Green\",\n                          \"Yellow\"\n                        ]\n                      }\n                    ],\n                    \"images\":[\n                      {\n                        \"id\":28352933199930,\n                        \"product_id\":4463469396026,\n                        \"position\":1,\n                        \"created_at\":\"2021-12-08T15:35:56+08:00\",\n                        \"updated_at\":\"2021-12-08T15:35:56+08:00\",\n                        \"alt\":null,\n                        \"width\":572,\n                        \"height\":572,\n                        \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/MX412.jpg?v=1638948956\",\n                        \"variant_ids\":[\n                          32223043715130\n                        ],\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933199930\"\n                      },\n                      {\n                        \"id\":28352933265466,\n                        \"product_id\":4463469396026,\n                        \"position\":2,\n                        \"created_at\":\"2021-12-08T15:37:17+08:00\",\n                        \"updated_at\":\"2021-12-08T15:37:17+08:00\",\n                        \"alt\":null,\n                        \"width\":445,\n                        \"height\":445,\n                        \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/ML9C2.jpg?v=1638949037\",\n                        \"variant_ids\":[\n                          \n                        ],\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933265466\"\n                      },\n                      {\n                        \"id\":28352936607802,\n                        \"product_id\":4463469396026,\n                        \"position\":3,\n                        \"created_at\":\"2021-12-08T15:44:04+08:00\",\n                        \"updated_at\":\"2021-12-08T15:44:04+08:00\",\n                        \"alt\":null,\n                        \"width\":700,\n                        \"height\":700,\n                        \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/170753_1_1.jpg?v=1638949444\",\n                        \"variant_ids\":[\n                          \n                        ],\n                        \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352936607802\"\n                      }\n                    ]\n                  }\n                },\n                \"id\":\"959421e4-2f79-4018-ab32-9b71d60bfc5e\"\n              }\n            ]\n          ]\n        },\n        {\n          \"blockId\":\"035eb81d-acc9-4ef0-bb5b-6b8326d57191\",\n          \"startedAt\":\"2022-10-04T08:12:56.540Z\",\n          \"stoppedAt\":\"2022-10-04T08:12:58.422Z\",\n          \"data\":[\n            [\n              {\n                \"json\":{\n                  \"ts\":\"1664871178.330449\",\n                  \"channel\":\"CTY3USQ0P\",\n                  \"text\":\"{\\\"product\\\":{\\\"id\\\":4463469396026,\\\"title\\\":\\\"Headphones\\\",\\\"vendor\\\":\\\"Ark Merch\\\",\\\"product_type\\\":\\\"Headphone &amp; Headset Accessories\\\",\\\"tags\\\":\\\"Headphones\\\",\\\"variants\\\":[{\\\"id\\\":32223043715130,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Red\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":1,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Red\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:36:04+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":28352933199930,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741257274,\\\"inventory_quantity\\\":5,\\\"old_inventory_quantity\\\":5,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043715130\\\"},{\\\"id\\\":32223043747898,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Blue\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":2,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Blue\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-12-09T00:47:10+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":null,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741290042,\\\"inventory_quantity\\\":988,\\\"old_inventory_quantity\\\":988,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043747898\\\"},{\\\"id\\\":32223043780666,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Green\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":3,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Green\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":null,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741322810,\\\"inventory_quantity\\\":0,\\\"old_inventory_quantity\\\":0,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043780666\\\"},{\\\"id\\\":32223043813434,\\\"product_id\\\":4463469396026,\\\"title\\\":\\\"Yellow\\\",\\\"price\\\":\\\"2000.00\\\",\\\"sku\\\":\\\"\\\",\\\"position\\\":4,\\\"inventory_policy\\\":\\\"deny\\\",\\\"compare_at_price\\\":null,\\\"fulfillment_service\\\":\\\"manual\\\",\\\"inventory_management\\\":\\\"shopify\\\",\\\"option1\\\":\\\"Yellow\\\",\\\"option2\\\":null,\\\"option3\\\":null,\\\"created_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"updated_at\\\":\\\"2021-01-04T15:50:51+08:00\\\",\\\"taxable\\\":true,\\\"barcode\\\":\\\"\\\",\\\"grams\\\":0,\\\"image_id\\\":null,\\\"weight\\\":0,\\\"weight_unit\\\":\\\"kg\\\",\\\"inventory_item_id\\\":33928741355578,\\\"inventory_quantity\\\":0,\\\"old_inventory_quantity\\\":0,\\\"requires_shipping\\\":false,\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductVariant\\/32223043813434\\\"}],\\\"options\\\":[{\\\"id\\\":5828033314874,\\\"product_id\\\":4463469396026,\\\"name\\\":\\\"Color\\\",\\\"position\\\":1,\\\"values\\\":[\\\"Red\\\",\\\"Blue\\\",\\\"Green\\\",\\\"Yellow\\\"]}],\\\"images\\\":[{\\\"id\\\":28352933199930,\\\"product_id\\\":4463469396026,\\\"position\\\":1,\\\"created_at\\\":\\\"2021-12-08T15:35:56+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:35:56+08:00\\\",\\\"alt\\\":null,\\\"width\\\":572,\\\"height\\\":572,\\\"src\\\":\\\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0264\\/6992\\/4922\\/products\\/MX412.jpg?v=1638948956\\\",\\\"variant_ids\\\":[32223043715130],\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductImage\\/28352933199930\\\"},{\\\"id\\\":28352933265466,\\\"product_id\\\":4463469396026,\\\"position\\\":2,\\\"created_at\\\":\\\"2021-12-08T15:37:17+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:37:17+08:00\\\",\\\"alt\\\":null,\\\"width\\\":445,\\\"height\\\":445,\\\"src\\\":\\\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0264\\/6992\\/4922\\/products\\/ML9C2.jpg?v=1638949037\\\",\\\"variant_ids\\\":[],\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductImage\\/28352933265466\\\"},{\\\"id\\\":28352936607802,\\\"product_id\\\":4463469396026,\\\"position\\\":3,\\\"created_at\\\":\\\"2021-12-08T15:44:04+08:00\\\",\\\"updated_at\\\":\\\"2021-12-08T15:44:04+08:00\\\",\\\"alt\\\":null,\\\"width\\\":700,\\\"height\\\":700,\\\"src\\\":\\\"https:\\/\\/cdn.shopify.com\\/s\\/files\\/1\\/0264\\/6992\\/4922\\/products\\/170753_1_1.jpg?v=1638949444\\\",\\\"variant_ids\\\":[],\\\"admin_graphql_api_id\\\":\\\"gid:\\/\\/shopify\\/ProductImage\\/28352936607802\\\"}]}}\",\n                  \"bot_id\":\"B012PM5ULBW\"\n                },\n                \"id\":\"0c518ff8-a7c1-4388-b0f5-79abceb68d69\"\n              }\n            ]\n          ]\n        }\n      ],\n      \"inputs\":[\n        {\n          \"blockId\":\"f28d6b36-db0a-4a8c-9ed1-dbe604dd1688\",\n          \"data\":{\n            \n          }\n        },\n        {\n          \"blockId\":\"25c39f86-c2cc-4fb9-8cbe-4f57f10e8b19\",\n          \"data\":{\n            \"productId\":\"4463469396026\",\n            \"sampleDataLimit\":3\n          }\n        },\n        {\n          \"blockId\":\"035eb81d-acc9-4ef0-bb5b-6b8326d57191\",\n          \"data\":{\n            \"channel\":\"CTY3USQ0P\",\n            \"text\":{\n              \"product\":{\n                \"id\":4463469396026,\n                \"title\":\"Headphones\",\n                \"vendor\":\"Ark Merch\",\n                \"product_type\":\"Headphone & Headset Accessories\",\n                \"tags\":\"Headphones\",\n                \"variants\":[\n                  {\n                    \"id\":32223043715130,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Red\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":1,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Red\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-12-08T15:36:04+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":28352933199930,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741257274,\n                    \"inventory_quantity\":5,\n                    \"old_inventory_quantity\":5,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043715130\"\n                  },\n                  {\n                    \"id\":32223043747898,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Blue\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":2,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Blue\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-12-09T00:47:10+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":null,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741290042,\n                    \"inventory_quantity\":988,\n                    \"old_inventory_quantity\":988,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043747898\"\n                  },\n                  {\n                    \"id\":32223043780666,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Green\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":3,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Green\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":null,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741322810,\n                    \"inventory_quantity\":0,\n                    \"old_inventory_quantity\":0,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043780666\"\n                  },\n                  {\n                    \"id\":32223043813434,\n                    \"product_id\":4463469396026,\n                    \"title\":\"Yellow\",\n                    \"price\":\"2000.00\",\n                    \"sku\":\"\",\n                    \"position\":4,\n                    \"inventory_policy\":\"deny\",\n                    \"compare_at_price\":null,\n                    \"fulfillment_service\":\"manual\",\n                    \"inventory_management\":\"shopify\",\n                    \"option1\":\"Yellow\",\n                    \"option2\":null,\n                    \"option3\":null,\n                    \"created_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"updated_at\":\"2021-01-04T15:50:51+08:00\",\n                    \"taxable\":true,\n                    \"barcode\":\"\",\n                    \"grams\":0,\n                    \"image_id\":null,\n                    \"weight\":0,\n                    \"weight_unit\":\"kg\",\n                    \"inventory_item_id\":33928741355578,\n                    \"inventory_quantity\":0,\n                    \"old_inventory_quantity\":0,\n                    \"requires_shipping\":false,\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductVariant/32223043813434\"\n                  }\n                ],\n                \"options\":[\n                  {\n                    \"id\":5828033314874,\n                    \"product_id\":4463469396026,\n                    \"name\":\"Color\",\n                    \"position\":1,\n                    \"values\":[\n                      \"Red\",\n                      \"Blue\",\n                      \"Green\",\n                      \"Yellow\"\n                    ]\n                  }\n                ],\n                \"images\":[\n                  {\n                    \"id\":28352933199930,\n                    \"product_id\":4463469396026,\n                    \"position\":1,\n                    \"created_at\":\"2021-12-08T15:35:56+08:00\",\n                    \"updated_at\":\"2021-12-08T15:35:56+08:00\",\n                    \"alt\":null,\n                    \"width\":572,\n                    \"height\":572,\n                    \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/MX412.jpg?v=1638948956\",\n                    \"variant_ids\":[\n                      32223043715130\n                    ],\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933199930\"\n                  },\n                  {\n                    \"id\":28352933265466,\n                    \"product_id\":4463469396026,\n                    \"position\":2,\n                    \"created_at\":\"2021-12-08T15:37:17+08:00\",\n                    \"updated_at\":\"2021-12-08T15:37:17+08:00\",\n                    \"alt\":null,\n                    \"width\":445,\n                    \"height\":445,\n                    \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/ML9C2.jpg?v=1638949037\",\n                    \"variant_ids\":[\n                      \n                    ],\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352933265466\"\n                  },\n                  {\n                    \"id\":28352936607802,\n                    \"product_id\":4463469396026,\n                    \"position\":3,\n                    \"created_at\":\"2021-12-08T15:44:04+08:00\",\n                    \"updated_at\":\"2021-12-08T15:44:04+08:00\",\n                    \"alt\":null,\n                    \"width\":700,\n                    \"height\":700,\n                    \"src\":\"https://cdn.shopify.com/s/files/1/0264/6992/4922/products/170753_1_1.jpg?v=1638949444\",\n                    \"variant_ids\":[\n                      \n                    ],\n                    \"admin_graphql_api_id\":\"gid://shopify/ProductImage/28352936607802\"\n                  }\n                ]\n              }\n            }\n          }\n        }\n      ]\n    }\n  ]\n}"}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/workflows/{workflowId}/errors": {"get": {"summary": "Retrieve all error logs for a workflow", "description": "This endpoint fetches an array of errors for a specific workflow.\n\nIt returns the error message, and the date stamp when the error was thrown, the block that caused the error, and the `workflowId` . Commonly used to debug workflows when they error and identify historical errors; this endpoint may be used in conjunction with the route error messages feature.\n\nIf there are no errors for the specified workflow, this endpoint will return an empty array.", "operationId": "get-workflow-errors", "parameters": [{"name": "workflowId", "in": "path", "description": "The Id of the workflow you want to find errors for", "schema": {"type": "string"}, "required": true}, {"name": "userId", "in": "query", "description": "The Id of the user you want delete logs for. Returned from the Create User endpoint", "schema": {"type": "string"}}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  data: [ {\n    workflowId: '632531cf3beb6c98611abd09',\n    block: 'shopify',\n    errorOccurredAt: '2022-09-17T22:12:34.567Z',\n    message: 'The customer failed to create due to an invalid Id'\n  }]\n}\n"}}}}}, "400": {"description": "400", "content": {"application/json": {"examples": {"Result": {"value": "{}"}}, "schema": {"type": "object", "properties": {}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users/{userId}/logs": {"delete": {"summary": "Delete all logs for a user", "description": "This endpoint deletes all historical logs associated with a user and is most commonly used in conjunction with a compliance request such as GDPR. This endpoint requires a userId. \n\nNote that this action cannot be undone.", "operationId": "delete-logs-for-a-user", "parameters": [{"name": "userId", "in": "path", "description": "The Id of the user you want delete logs for. Returned from the Create User endpoint", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"message\": \"Success\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "Success"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users/{userId}/credentials/{credentialId}": {"delete": {"summary": "Delete a Credential for a user", "description": "To delete a credential via the API, you need to invoke the below endpoint.", "operationId": "delete-a-credential", "parameters": [{"name": "credentialId", "in": "path", "description": "The credential you're looking to delete", "schema": {"type": "string"}, "required": true}, {"name": "userId", "in": "path", "description": "The Id of the user associated with this credential", "schema": {"type": "string"}, "required": true}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"success\": true\n}"}}, "schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "default": true}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/run/event": {"post": {"summary": "Trigger an event for a user", "description": "This endpoint runs a workflow that uses a **Custom Event **. Note that this endpoint cannot be used to invoke a workflow that has a Custom Webhook Trigger.\n\nIf you have defined a custom JSON body for the Custom Event, it should be passed into the `data` body parameter.", "operationId": "run-event", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["event", "userId", "data"], "properties": {"event": {"type": "string", "description": "The name of the custom event to run."}, "userId": {"type": "string", "description": "The user Id the workflow belongs to"}, "data": {"type": "string", "description": "The key-value pairs you want to send as defined in the custom event. This data will be used in expressions during the workflow execution.", "format": "json"}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"message\": \"Event successfully triggered\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "Event successfully triggered"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/workflows/{workflowId}/rerun/{executionId}": {"post": {"summary": "Rerun a single workflow execution", "description": "Retrieves log data for a given workflow over time. Logs are stored for a maximum of 60 days before being purged.\n\nEach log includes the `executionId` (which can be used to rerun an execution), the `startedAt` and `stoppedAt` date stamps, and the JSON output of the execution.", "operationId": "rerun-workfow", "parameters": [{"name": "workflowId", "in": "path", "description": "The Id of the workflow you want to find logs for", "schema": {"type": "string"}, "required": true}, {"name": "executionId", "in": "path", "description": "The Id of the execution to rerun. This can be retrieved from the GET Workflow Logs endpoint", "schema": {"type": "string"}, "required": true}, {"name": "userId", "in": "query", "description": "The Id of the user you want delete logs for. Returned from the Create User endpoint", "required": true, "schema": {"type": "string"}}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"message\": \"success\",\n    \"executionUuid\": \"37e974f0-5d0c4035\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "success"}, "executionUuid": {"type": "string", "example": "37e974f0-5d0c4035"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/run/workflow": {"post": {"summary": "Run Workflow", "description": "This endpoint runs a workflow that uses a **Webhook Trigger.** Note that this endpoint should not be used to invoke a workflow that has a Custom Event. If you have defined a custom JSON body for the webhook trigger, it should be passed into the `data` body parameter.", "operationId": "run-workflow", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["userId", "data"], "properties": {"workflowName": {"type": "string", "description": "The name of the workflow to run."}, "workflowId": {"type": "string", "description": "The Id of the workflow to activate. If you pass this parameter, then `workflowName` is not required."}, "userId": {"type": "string", "description": "The Id of the user you want to lookup. Returned from the Create User endpoint. Note: you can also use the Embedded user's `username` in this field."}, "data": {"type": "string", "description": "The key-value pairs you want to send as defined in the webhook trigger. This data will be used in expressions during the workflow execution.", "format": "json"}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"message\": \"success\"\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "success"}}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/metadata/apps": {"get": {"summary": "Retrieve all supported apps", "description": "Returns all the available apps currently supported by Alloy Embedded", "operationId": "list-apps", "parameters": [{"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n    \"data\": [\n        {\n            \"name\": \"acuityScheduling\",\n            \"icon\": \"https://cdn.runalloy.com/icons/acuityScheduling.png\",\n            \"type\": [\n                \"action\",\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"aftership\",\n            \"icon\": \"https://cdn.runalloy.com/icons/aftership.png\",\n            \"type\": [\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"aircall\",\n            \"icon\": \"https://cdn.runalloy.com/icons/aircall.png\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        {\n            \"name\": \"airtable\",\n            \"icon\": \"https://cdn.runalloy.com/icons/airtable.png\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        {\n            \"name\": \"airtableInternal\",\n            \"icon\": \"https://cdn.runalloy.com/icons/airtable.png\",\n            \"type\": [\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"bwp\",\n            \"icon\": \"https://cdn.runalloy.com/icons/bwp.svg\",\n            \"type\": [\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"amazonSP\",\n            \"icon\": \"https://cdn.runalloy.com/icons/amazon.png\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        {\n            \"name\": \"amazonSPPolling\",\n            \"icon\": \"https://cdn.runalloy.com/icons/amazon.png\",\n            \"type\": [\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"customEvent\",\n            \"icon\": \"https://cdn.runalloy.com/icons/app-event.svg\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        {\n            \"name\": \"asana\",\n            \"icon\": \"https://cdn.runalloy.com/icons/asana.png\",\n            \"type\": [\n                \"action\",\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"aspire\",\n            \"icon\": \"https://cdn.runalloy.com/icons/aspire.png\",\n            \"type\": [\n                \"action\",\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"attentive\",\n            \"icon\": \"https://cdn.runalloy.com/icons/attentive.png\",\n            \"type\": [\n                \"action\",\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"attentiveNew\",\n            \"icon\": \"https://cdn.runalloy.com/icons/attentive.png\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        {\n            \"name\": \"awsLambda\",\n            \"icon\": \"https://cdn.runalloy.com/icons/lambda.png\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        {\n            \"name\": \"awsSes\",\n            \"icon\": \"https://cdn.runalloy.com/icons/ses.png\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        {\n            \"name\": \"awsSns\",\n            \"icon\": \"https://cdn.runalloy.com/icons/sns.png\",\n            \"type\": [\n                \"action\",\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"bigCommerce\",\n            \"icon\": \"https://cdn.runalloy.com/icons/bigcommerce.png\",\n            \"type\": [\n                \"action\",\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"copper\",\n            \"icon\": \"https://cdn.runalloy.com/icons/copper.png\",\n            \"type\": [\n                \"trigger\"\n            ]\n        },\n        {\n            \"name\": \"cron\",\n            \"icon\": \"https://cdn.runalloy.com/icons/cron.png\",\n            \"type\": [\n                \"action\"\n            ]\n        },\n        ...\n        {\n            \"name\": \"zendesk\",\n            \"icon\": \"https://cdn.runalloy.com/icons/zendesk.png\",\n            \"type\": [\n                \"action\",\n                \"trigger\"\n            ]\n        }\n    ]\n}"}}}}}, "400": {"description": "400", "content": {"application/json": {"examples": {"Result": {"value": "{}"}}, "schema": {"type": "object", "properties": {}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/integrations": {"get": {"summary": "Retrieve a list of all integrations", "description": "Returns all the available integrations in your Alloy Embedded Account. Includes integrations/apps you've created an \"integration\" for, their workflows and statuses. If `installed` equals `true`, the `installedVersion` key will show the currently installed version.", "operationId": "list-integrations", "parameters": [{"name": "userId", "in": "query", "description": "The Id used to identify the user. Note: you can also use the Embedded user's `username` in this field.", "required": true, "schema": {"type": "string"}}, {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"data\": [\n    {\n      \"integrationId\": \"63ea758e82c3074141968bb9\",\n      \"app\": \"Magento\",\n      \"installed\": false,\n      \"icon\": \"https://cdn.runalloy.com/icons/magento.png\",\n      \"workflows\": [\n        {\n          \"workflowId\": \"63ea75a2fcf2e2c72e805ddc\",\n          \"name\": \"Magento Order Sync\",\n          \"installed\": true,\n          \"version\": 1,\n          \"installedVersion\": 1,\n          \"active\": true,\n          \"blocks\": [\n            {\n              \"name\": \"Custom Event\",\n              \"id\": \"bc9202b2-8e7e-47d4-9416-5ba6b319fa2a\",\n              \"type\": \"customEvent\",\n              \"icon\": \"https://cdn.runalloy.com/icons/app-event.svg\"\n            },\n            {\n              \"name\": \"Magento\",\n              \"id\": \"3363c9da-1f96-403a-bdfd-856fa5e76dad\",\n              \"type\": \"magento\",\n              \"icon\": \"https://cdn.runalloy.com/icons/magento.png\"\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"integrationId\": \"63ea7595ddf9f00a17f9d2cc\",\n      \"app\": \"Xero\",\n      \"installed\": false,\n      \"icon\": \"https://cdn.runalloy.com/icons/xero.png\",\n      \"workflows\": [\n        {\n          \"workflowId\": \"63ea759e28fa3c9ff514c2ca\",\n          \"name\": \"Sync Xero Transactions every hour\",\n          \"installed\": false,\n          \"active\": false,\n          \"version\": 1,\n          \"blocks\": [\n            {\n              \"name\": \"Schedule Workflow\",\n              \"id\": \"2c5d9d2a-d38e-44d2-8d0b-8f006c588937\",\n              \"type\": \"cron\",\n              \"icon\": \"https://cdn.runalloy.com/icons/cron.png\"\n            },\n            {\n              \"name\": \"Xero\",\n              \"id\": \"0f2bf1ef-109b-4a0d-ace3-24bf329efcdf\",\n              \"type\": \"xero\",\n              \"icon\": \"https://cdn.runalloy.com/icons/xero.png\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}\n"}}, "schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"type": "object", "properties": {"integrationId": {"type": "string", "example": "63ea758e82c3074141968bb9"}, "app": {"type": "string", "example": "Magento"}, "installed": {"type": "boolean", "example": false, "default": true}, "icon": {"type": "string", "example": "https://cdn.runalloy.com/icons/magento.png"}, "workflows": {"type": "array", "items": {"type": "object", "properties": {"workflowId": {"type": "string", "example": "63ea75a2fcf2e2c72e805ddc"}, "name": {"type": "string", "example": "Magento Order Sync"}, "installed": {"type": "boolean", "example": true, "default": true}, "version": {"type": "integer", "example": 1, "default": 0}, "installedVersion": {"type": "integer", "example": 1, "default": 0}, "active": {"type": "boolean", "example": true, "default": true}, "blocks": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "Custom Event"}, "id": {"type": "string", "example": "bc9202b2-8e7e-47d4-9416-5ba6b319fa2a"}, "type": {"type": "string", "example": "customEvent"}, "icon": {"type": "string", "example": "https://cdn.runalloy.com/icons/app-event.svg"}}}}}}}}}}}}}}}, "400": {"description": "400", "content": {"application/json": {"examples": {"Result": {"value": "{}"}}, "schema": {"type": "object", "properties": {}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/users/batch": {"post": {"summary": "Create a batch of users", "description": "Creates a new user in your Embedded account. The user record acts like a \"container\" to store all the integrations, workflows, and credentials for any given user. Returns a user identifier.", "operationId": "batch-create-users", "parameters": [{"name": "Authorization", "in": "header", "description": "Your Embedded API key for authorization", "required": true, "schema": {"type": "string", "default": "bearer YOUR_API_KEY"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"users": {"type": "string", "description": "An array of `username` and `fullName` to be created.  Note that `username` is mandatory but `fullName` is optional. Limited to 1000 users at a time.", "default": "[{ \tusername: 'user123', \tfullName: 'Joe Smoe' }, { \tusername: 'user456' }, { \tusername: 'janedoe', \tfullName: 'Jane Doe' }]", "format": "json"}}}}}}, "responses": {"200": {"description": "200", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"message\":\"success\",\n  \"invalidUsers\":[{\"fullName\":\"Missing Username\"},{\"username\": \"alreadyexists123\"}]\n}"}}, "schema": {"type": "object", "properties": {"message": {"type": "string", "example": "success"}, "invalidUsers": {"type": "array", "items": {"type": "object", "properties": {"fullName": {"type": "string", "example": "Missing Username"}}}}}}}}}, "400": {"description": "400", "content": {"application/json": {"examples": {"Result": {"value": "{\n  \"message\": \"No valid users provided\"\n}"}}, "schema": {"oneOf": [{"type": "object", "properties": {"message": {"type": "string", "example": "All users already exist"}}}, {"type": "object", "properties": {"message": {"type": "string", "example": "No valid users provided"}}}]}}}}, "401": {"description": "401", "content": {"application/json": {"examples": {"Result": {"value": "{}"}}, "schema": {"type": "object", "properties": {}}}}}}, "deprecated": false, "security": [{"api_key": []}]}}, "/events": {"get": {"summary": "Retrieve a list of custom events", "description": "Returns a list of all Custom Events you have enabled in Alloy Embedded.", "operationId": "li
[...]
